/* common properties */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    ;
}

/* header section styles */
header {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
}

.shop-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.shop-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin top: 32px;
    margin bottom: 32px;
}

.header-section {
    padding-top: 197px;
    padding-left: 240px;
}

.shop-image {
    padding-top: 50px;
    padding-right: 240px;
}